*.log
*.csv
*.pkl
*.sqlite
*.parquet
*.parq
*.env
*.xlsx
*.mp4
*.png
*.jpg
*Zone.Identifier

data/*

*.trashinfo
.Trash-0/*
*.ipynb

*/build/*
*/dist/*
autopostprocessor/autopostprocessor.egg-info/dependency_links.txt
autopostprocessor/autopostprocessor.egg-info/PKG-INFO
autopostprocessor/autopostprocessor.egg-info/SOURCES.txt
autopostprocessor/autopostprocessor.egg-info/top_level.txt
